@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700");

/* some fixes for leaflet and input elements*/
.leaflet-container {
  background-color: inherit !important;
}

button,
input,
optgroup,
select,
textarea {
  background-color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* styling of the scrollbar*/
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-dark-2;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-dark-2;
}

::-webkit-scrollbar-track {
  @apply bg-blue-dark-1;
}

::-webkit-scrollbar-track:hover {
  @apply bg-blue-dark-1;
}

:root {
  /* Typography */
  --text-size: 16px;
  --text-size-s: 0.6rem;
  --text-size-xs: 0.75rem;
  --text-size-xxs: 0.875rem;
  --text-size-m: 1.25rem;
  --text-size-l: 1.5rem;
  --text-size-xl: 2rem;
  --text-size-xxl: 3rem;
  --text-size-mainnav: 1.125rem;

  /* Colors */
  --color-grey-0: #fff;
  --color-grey-1: #f1f1f1;
  --color-grey-2: #e4e4e4;
  --color-grey-3: #bbbbbb;
  --color-grey-4: rgb(180, 180, 180);
  --color-blue-light-0: #edf5ff;
  --color-blue-light-1: #babec4;
  --color-blue-light-2: #46505e;
  --color-blue-dark-0: #0f151c;
  --color-blue-dark-1: #141d28;
  --color-blue-dark-2: #17222f;
  --color-blue: rgb(96, 165, 250);
  --color-purple: #655dff;
  --color-purple-dark: ;
  --color-purple-light: #7c75ff;
  --color-violet: #b861ff;
  --color-salmon: #fa6860;
  --color-sand: #fab560;
  --color-green: #a5fa60;
  /* Color Assignment */
  --color-text-primary: var(--color-text-primary-light);
  --color-text-primary-dark: var(--color-blue-dark-0);
  --color-text-primary-light: var(--color-blue-light-1);
  --color-text-secondary: var(--color-text-secondary-light);
  --color-text-secondary-dark: var(--color-blue-dark-2);
  --color-text-secondary-light: var(--color-blue-light-2);
  --color-text-standout: var(--color-blue-light-0);
  --color-bg-0: var(--color-blue-dark-0);
  --color-bg-1: var(--color-blue-dark-1);
  --color-bg-2: var(--color-blue-dark-2);
  --color-accent: var(--color-purple-light);
  --color-accent-light: ;
  --color-accent-dark: hsl(213, 80%, 60%);
  --color-linkhover: var(--color-accent);
  --color-button-fg: var(--color-blue-dark-1);
  --color-button-bg: #fff;

  /* Animation/Transition Timings */
  --timing-snappy: 0.15s;
  --timing-smooth: 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text-primary: var(--color-blue-light-0);
    --color-text-secondary: var(--color-blue-light-1);
    --color-bg-0: ;
    --color-bg-1: ;
    --color-bg-2: ;
    --color-accent: var(--color-purple);
    --color-accent-light: ;
    --color-accent-dark: hsl(213, 80%, 60%);
    --color-linkhover: var(--color-accent);
    --color-button-fg: var(--color-blue-dark-1);
    --color-button-bg: #fff;
  }
}

::selection {
  background-color: var(--color-accent);
  color: #fff;
}

body {
  background-color: var(--color-bg-0);
  color: var(--color-text-primary);
  font-weight: 300;
  line-height: 1em;
}

th {
  text-align: left;
}

button.filled {
  background-color: var(--color-button-bg) !important;
  color: var(--color-button-fg) !important;
  padding: 0.5rem 1rem !important;
  outline: none !important;
}

button.outlined {
  background-color: transparent !important;
  color: var(--color-text-primary);
  border: 1px solid var(--color-text-primary);
  padding: 0.5rem 1rem !important;
  outline: none !important;
}

input,
select {
  outline: none !important;
  transition: border-color var(--timing-snappy) ease;
  border: 1px solid transparent;
}

input:focus {
  border: 1px solid var(--color-accent);
}

input:not([type="checkbox"]):not([type="radio"]),
select {
  padding: 0.25rem 0.5rem !important;
  background-color: var(--color-bg-2) !important;
}

label {
  font-size: var(--text-size-xxs);
  font-weight: 700;
  color: var(--color-text-secondary);
}

input[type="number"] {
  text-align: right;
}

.layout {
  display: grid;
  grid-template-columns: 325px auto;
}

.main {
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  width: 1200px;
  margin: 3rem auto;
  padding: 0 3rem;
}

.textWrapper {
  max-width: 65ch;
  margin: 0 auto;
}

.textSeperator {
  display: inline-block;
  width: 1px;
  height: 0.75em;
  margin: 0 0.75em;
  background-color: var(--color-text-secondary);
  opacity: 0.25;
}

.tag {
  display: inline-block;
  border: 1px solid;
  padding: 2px 0.5em;
}

.standout {
  color: var(--color-text-standout);
}

.coordinates {
  display: flex;
}

.coordinates > * {
  padding: 1px 0.25rem;
}

.x {
  color: var(--color-sand);
}

.y {
  color: var(--color-salmon);
}

.z {
  color: var(--color-violet);
}

.link {
  cursor: pointer;
  transition: color var(--timing-snappy) ease;
}

.link:hover,
.link:focus {
  color: var(--color-accent);
}

/* WORLD SELECT*/
.select-dimension {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.select-dimension:hover {
  opacity: 1;
}

.select-dimension.disabled {
  opacity: 0.2;
}
